
.header {
    grid-area: header;
    background-color: rgb(231, 209, 68);
}

.header img {
    width: 120px;
    height: 60px;
}

.loginBlock {
    float: right;
    margin: 15px;
}

.loginBlock a {
    color: aliceblue;
    text-decoration: none;
}
